.product-row .block:first-of-type label.is-hidden-tablet.product-label {
    display: block !important;
}

.is-first label.is-hidden-tablet.product-label {
    display: block !important;
}


.modal {
    --bulma-modal-content-width: 60rem;
}

.column {
    min-width: 0;
}

.responsive-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-end;
}

.responsive-buttons .button {
    display: block;
    flex: 1;
    text-overflow: ellipsis;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    padding-left: calc(0.5em - var(--bulma-button-border-width));
    padding-right: calc(0.5em - var(--bulma-button-border-width));
}

/* For tablet and larger screens (≥ 769px), display buttons in a row */
@media screen and (min-width: 769px) {
    .responsive-buttons {
        flex-direction: row;
    }
}

:root {
    --bulma-block-spacing: .75rem;
}

.custom {
    --bulma-info: hsl(200, 100%, 90%);
    --bulma-info-invert: hsl(200, 100%, 20%);
}

@media (prefers-color-scheme: dark) {
    .custom {
        --bulma-info: #373F51;
        --bulma-info-invert: hsl(0, 0%, 100%);
        --bulma-navbar-h: 0 !important;
        --bulma-navbar-s: 0% !important;
        --bulma-navbar-item-color-l: 90% !important;
    }

    .navbar-item:hover,
    .navbar-link:hover {
        background-color: hsla(var(--bulma-navbar-h), var(--bulma-navbar-s), var(--bulma-navbar-item-color-l), 0.1) !important;
    }
}

.hero.is-info.custom {
    background-color: var(--bulma-info) !important;
    color: var(--bulma-info-invert) !important;
}

.product-row>.block:not(:last-child)>.columns {
    border-bottom: 1px solid var(--bulma-hr-background-color);
}

.columns.border {
    border-bottom: 1px solid var(--bulma-hr-background-color);
}
